
h1{
    color: white;
    font-size: 60px;
    font-family: impact, comic sans-serif, sans-serif;
    margin: 0;
    background-color: rgb(12, 1, 1);
}

h2{
    color: whitesmoke;
    margin: 0;
    font-size: 30;

}

p{  
    font-size: 21px;
}



.navigation{
    display: grid;
    grid-template-columns: 2fr 2fr 30fr;
    background-color: rgb(12, 1, 1);
}


.playstation{
    margin-left: 45vw;
    background-color :rgb(234, 214, 214)
}
.about{
    width: 50vw;
    margin: auto;
    margin-top: 0px;
    background-color: rgb(209, 243, 184); 
    color: black;
    text-align: center;
    border:6px, solid, white;
}
.center{
    margin-left: 40vw;
}
.posts{
    margin: auto;
    text-align: center;
    color: white;
    font-size:30px;
    border:6px white;
    margin-bottom: 20px;
}
.border{
    border: 4px, solid, black;
    color: white;
    margin: auto;
    margin-top: 0;
    background-color:rgb(27, 12, 12)
}
body{
    margin: 0;
    background-image: url(img/REmake_background_-_Entrance_hall_-_r106_00013-Återställdbackroiund3.png);
    background-repeat: repeat;
}

.aboutMe{
    margin: 0;
    background-image: url(img/THOUSAND\ YARD\ STARE.png);

}



.post{
    display: grid;
    grid-template-columns: 1fr 2fr;
}

